<h3>Survey Collections</h3>

  <!-- <div class="review-container" *ngIf = "_survey.queryCount$">  -->

    <div class="review-container"> <!--waits for this to load-->
        <ol>
            <li class = "list-item" *ngFor="let item of _survey.surveys | async; let i = index"> 
              <ul style="list-style-type:none">
                <li><h3>{{item.surveyName}}</h3></li>
                <li>uid: {{item.id}}</li>
                <li>Date created: {{item.surveyDate.toDate() | date:'medium'}}</li>
                <li>Question Type: {{item.sections[0].questionType}}</li>
                
                <li>Number of surveys submitted: {{_survey.queryCount$[i]}}</li>
        
               <button *ngIf = "_survey.queryCount$[i] > 0" (click)="toggleDetailBtn(item.id, i)">
                 {{showDetails[i] ? 'Hide Details' : 'Show Details'}}
                </button>

                <div class = review-detail-container *ngIf="showDetails[i]" id = review-detail{{i}}>  
                  
                    <li *ngFor="let item2 of _survey.calcArr$[i]" >
                      <ul *ngIf = "item2.answer" style="list-style-type:none">
                        <li>{{item2.question}} : {{item2.answer}} : {{item2.value}}</li>
                      </ul>
                      <ul *ngIf = "item2.selectedAnswer" style="list-style-type:none">
                        <li>{{item2.question}} : {{item2.selectedAnswer}}</li>
                      </ul> 
                      
                    </li>

                    <app-survey-chart *ngIf = "_survey.calcArr$[i][0].answer" [ChartDataIndex]="i"></app-survey-chart>

              </div>

              </ul>
              <br>
              <button (click)="surveyDelete(item.id)">Delete this survey</button>
              <br>
              Download results :
              <button (click) = "surveyDownloadTxtBtn(item, i)">.txt download</button>
              <button (click) = "surveyDownloadCsvBtn(item, i)">.cvs download</button>


          </li>

         
        </ol>

  </div>


     