<p>survey-chart works!</p>
<!-- <canvas id="myChart" width="400" height="400"></canvas> -->

<!-- <div id = "chart-containter">
    <canvas id="myChart"></canvas>
  </div>
<div> -->
  <!-- Hi {{ childProperty }} -->
<!-- </div> -->

<!-- <div id="chartReport" #chartReport>
<canvas #stackchartcanvas></canvas>
</div> -->



  <!-- <div *ngFor="let data of chartData" id="chart-containter"> -->


      <!-- {{_survey.calcArr$[j][0].value | json}} -->
      <!-- <canvas #pr_chart></canvas> -->

  <!-- </div> -->

  <!-- <div id="chartReport" #chartReport>


  <canvas #stackchartcanvas></canvas>

  </div> -->

  <div #chartReport>
    <canvas #canvas></canvas>
  </div>


  <br>
  ChartDataIndex:{{ChartDataIndex}}
  
  
<!-- <div id = "chart-containter">
    <canvas id="myChart"></canvas>
  </div> -->