
<!-- **template reference variable**, formbuilder was too complex for this-->

    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">


              <div *ngFor="let item of surveyGet" > 

                <div>{{item.surveyName}}</div>

              <br>

              <div *ngFor="let subItem of item['sections']; let i = index"> {{subItem.question}}
                  
                
                  <div *ngFor="let subSubItem of subItem['answers']; let j = index">

                    <input type = "radio" id="subSubItem{{i}}{{j}}" name="{{i}}" [value] ="subSubItem" ngModel> 
                    

                    <label>{{subSubItem.answer}}</label>
                  </div>  
                
              </div>

            </div>


        <button type="submit">Submit</button> <!-- button here redirect to thank you message/ form was successfully sent-->
      </form>


      <pre>{{ surveyForm.value | json }}</pre>
