<h3>Survey Collections</h3>

  <div class="review-container">
        <ol>
            <li class = "list-item" *ngFor="let item of _survey.surveys | async" > 
              <ul style="list-style-type:none">
                <li><h3>{{item.surveyName}}</h3></li>
                <li>uid: {{item.id}}</li>
                <li>date created: {{item.surveyDate.toDate() | date:'medium'}}</li>
              </ul>
              <br>
            <ol>
              <!-- <li *ngFor="let subItem of item['surveyDate']"> {{subItem.surveyDate}}></li> -->
              <li *ngFor="let subItem of item['sections']"> {{subItem.question}}
                <ol>
                  <li *ngFor="let subSubItem of subItem['answers']">{{subSubItem.answer}}</li>  
                </ol>
              </li>
            </ol>
           <div class = "url-container"> Generated URL link: <a routerLink="/survey/{{item.id}}">{{item.id}}</a>(share the link for participants)</div>
          </li>

          <!-- <app-survey-url></app-survey-url> -->
         
        </ol>

  </div>


